// Variables 

// Color palette
$grey-darkTransparency: rgba(60, 60, 60, 0.5);
$grey: #808080;
$light-grey: #a9a9a9;
$dark-grey: #585858;
$black: #000000;
$white: #ffffff;
$white-transparency: rgba(255,255,255,0.5);

// End of variables

